
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

    <main>
        <div class="main-container">
            <section class="section1s section1a mb-0"
                     style="height: 15vh; color: white"
                     ;>
                <div class="container">
                    <h3><strong>About Us</strong></h3>
                    <a href="index" style="color: white">Home>></a>
                    <a href="about" class="text-white">About Us>></a>
                </div>
            </section>

            <section class="section2a" style="margin: 0">
                <div class="d-flex">

                    <div class="flex-item2">
                        <div>
                            <img style="width: 100%"
                                 src="~/Content/images/pexels-andrea-piacquadio-3769021(1).jpg"
                                 alt="" />
                        </div>
                    </div>
                    <div class="flex-item2">
                        <div class="p-2 mt-2">
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Suscipit, illum quisquam sint minus consectetur dolore,
                                fuga cum adipisci earum repudiandae sapiente officia rerum
                                rem modi, fugiat accusantium dolorum praesentium ab.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        </section>
        <section3>
            <h3 class="text-center"> MEET OUR TEAM</h3>
            <div class="container row">
                    <div class="card col-3 m-2">
                        <div class="card-header">
                            </div>
                                <div class="card-body">
                                    <img style="width: 100%;" src="~/Content/images/pexels-andrea-piacquadio-3769021.jpg" alt="">
                                    <h5 class="text-center">Merit Oriaghe</h5>
                                    <p class="text-center">Managing Director</p>
                                </div>
                            
                  
                        
                        <div class="card-footer">
                            <div class="flex2">
                                <span class="m-4"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f "></i></a></span>
                                <span class="m-4"><a href="https://twitter.com/explore"><i class="fab fa-twitter "></i></a></span>
                                <span class="m-4"><a href="https://youtube.com"><i class="fab fa-youtube"></i></a></span>

                            </div>
                        </div>
                        </div>

                    
                    <div class="card col-3 m-2">
                        <div class="card-header">
                            </div>
                                <div class="card-body">
                                    <img style="width: 100%;" src="~/Content/images/pexels-andrea-piacquadio-3769021.jpg" alt="">
                                    <h5 class="text-center">Merit Oriaghe</h5>
                                    <p class="text-center">Managing Director</p>
                                </div>
                            
                        
                        
                    <div class="card-footer">
                        <div class="flex2">
                            <span class="m-4"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f "></i></a></span>
                            <span class="m-4"><a href="https://twitter.com/explore"><i class="fab fa-twitter "></i></a></span>
                            <span class="m-4"><a href="https://youtube.com"><i class="fab fa-youtube"></i></a></span>

                        </div>
                    </div>
                        </div>

                    
                    <div class="card col-3 m-2">
                        <div class="card-header">
                            </div>
                            
                                <div class="card-body">
                                    <img style="width: 100%;" src="~/Content/images/pexels-andrea-piacquadio-3769021.jpg" alt="">
                                    <h5 class="text-center">Merit Oriaghe</h5>
                                    <p class="text-center">Managing Director</p>
                                </div>
                           
                        
                        

                            <div class="card-footer">
                                <div class="flex2">
                                    <span class="m-4"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f "></i></a></span>
                                    <span class="m-4"><a href="https://twitter.com/explore"><i class="fab fa-twitter "></i></a></span>
                                    <span class="m-4"><a href="https://youtube.com"><i class="fab fa-youtube"></i></a></span>

                                </div>
                            </div>
                        

                    </div>
                    <div class="card col-3 m-2">
                        <div class="card-header">
                            </div>
                                <div class="card-body">
                                    <img style="width: 100%;" src="~/Content/images/pexels-andrea-piacquadio-3769021.jpg" alt="">
                                    <h5 class="text-center">Merit Oriaghe</h5>
                                    <p class="text-center">Managing Director</p>
                                </div>
                            
                        
                        
                            <div class="card-footer">
                                <div class="flex2">
                                    <span class="m-4"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f "></i></a></span>
                                    <span class="m-4"><a href="https://twitter.com/explore"><i class="fab fa-twitter "></i></a></span>
                                    <span class="m-4"><a href="https://youtube.com"><i class="fab fa-youtube"></i></a></span>

                                </div>
                            
                        </div>

                    </div>
                    <div class="card col-3 m-2">
                        <div class="card-header">
                            </div>
                            
                                <div class="card-body">
                                    <img style="width: 100%;" src="~/Content/images/pexels-andrea-piacquadio-3769021.jpg" alt="">
                                    <h5 class="text-center">Merit Oriaghe</h5>
                                    <p class="text-center">Managing Director</p>
                                </div>
                        
                        <div class="card-footer">
                            <div class="flex2">
                                <span class="m-4"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f "></i></a></span>
                                <span class="m-4"><a href="https://twitter.com/explore"><i class="fab fa-twitter "></i></a></span>
                                <span class="m-4"><a href="https://youtube.com"><i class="fab fa-youtube"></i></a></span>

                            </div>
                        </div>
                        

                    </div>
                    <div class="card col-3 m-2">
                        <div class="card-header">
                           
                                <div class="card-body">
                                    <img style="width: 100%;" src="~/Content/images/pexels-andrea-piacquadio-3769021.jpg" alt="">
                                    <h5 class="text-center">Merit Oriaghe</h5>
                                    <p class="text-center">Managing Director</p>
                                </div>
                            
                        </div>
                        
                        <div class="card-footer">
                            <div class="flex2">
                                <span class="m-4"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f "></i></a></span>
                                <span class="m-4"><a href="https://twitter.com/explore"><i class="fab fa-twitter "></i></a></span>
                                <span class="m-4"><a href="https://youtube.com"><i class="fab fa-youtube"></i></a></span>

                            </div>
                        </div>
                        


                    </div>

                </div>

           





        </section3>
        <section style="height:90vh;" class="section4a blue ">
            <h3 class="text-center">
                JOIN US
            </h3>
            <div class="container">
                <div class=" row">

                    <div class="form-group bg-light m-4 col-5 ">
                        <form style="width:100%" class="was.was-validated">
                            <div class="m-2 form-item">
                                <input type="text" placeholder="Firstname" class="m-1" required>
                                <input type="text" placeholder="Lastname" class="m-1" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="m-2 form-item">
                                <input type="email" placeholder="Email Address" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="m-2 form-item">
                                <input type="" placeholder="Phone Number" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-item">
                                <select name="location" id="location">
                                    <option value="Lagos"> Lagos</option>
                                    <option value="Lagos"> Abuja</option>
                                    <option value="Lagos"> Benin</option>
                                    <option value="Lagos"> PortHarcourt</option>
                                    <option value="Lagos"> Abia</option>
                                    <option value="Lagos"> Kaduna</option>
                                    <option value="Lagos"> Delta</option>
                                    <option value="Lagos"> Imo</option>
                                    <option value="Lagos"> Gombe</option>
                                    <option value="Lagos"> Jos</option>
                                    <option value="Lagos"> Oyo</option>
                                </select>
                            </div>
                            <div class="form-item ">
                                <label for=""> Tell us why you want to join us?</label>
                                <textarea name="message" style="width: 100%; height:auto;" value="why do you want to join us?">
            
                     
                    </textarea>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <button type="submit" class="btn btn-primary m-2" id="button"> SUBMIT</button>
                        </form>
                    </div>
                    <div class="m-4 col-5">
                        <div style="height: auto; ;">
                            <img style="width: 100%; height:100%" src="images/pexels-pixabay-326576.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section5"></section>
        </div>
    </main>

